build/
.vscode/

.idea/

cmake-build-debug/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-debug-wsl/

.vs/
/CMakeSettings.json
/enc_temp_folder/
.idea/

temp/
report.*
rendered_report.*

*.log
test.txt

*.raux
*.rsl

*.raux
*.rsl

ref5_231220.zip
refal/Col_input.tex
refal/L_input.tex
refal/Mod_input.dot
refal/R_input.tex
refal/input.dot
refal/input.tex
run_with_refal.sh
refal5_src/

